ActivityRecorderClient/Service References/LotusNotesMeetingCaptureServiceReference/mex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/LotusNotesMeetingCaptureService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/LotusNotesMeetingCaptureService/mex?xsd=xsd3" namespace="http://jobctrl.com/" />
  <xs:import schemaLocation="http://localhost:8000/LotusNotesMeetingCaptureService/mex?xsd=xsd4" namespace="http://jobctrl.com/mail" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailServer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="calendarAccountEmails" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://jobctrl.com/" minOccurs="0" name="CaptureMeetingsResult" nillable="true" type="q2:ArrayOfFinishedMeetingEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailCaptures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailCapturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://jobctrl.com/mail" minOccurs="0" name="GetMailCapturesResult" nillable="true" type="q3:MailCaptures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>