PlaybackClient/Service References/ActivityRecorderServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://jobctrl.com/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Kicks" />
  <xs:element name="AssignTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://jobctrl.com/" minOccurs="0" name="AssignTaskResult" type="q1:AssignTaskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element xmlns:q2="http://jobctrl.com/" minOccurs="0" name="finishedMeetingData" nillable="true" type="q2:FinishedMeetingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://jobctrl.com/" minOccurs="0" name="ManageMeetingsResult" nillable="true" type="q3:MeetingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManualMeeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q4="http://jobctrl.com/" minOccurs="0" name="manualMeeting" nillable="true" type="q4:ManualMeetingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManualMeetingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskReasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetTaskReasonsResult" nillable="true" type="q5:TaskReasons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProjectByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q6="http://jobctrl.com/" minOccurs="0" name="assignProjectData" nillable="true" type="q6:AssignProjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProjectByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignProjectByKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiryDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiryDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpiryDayResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetApplicationUpdateResult" nillable="true" type="q7:ApplicationUpdateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileId" type="q8:guid" />
        <xs:element minOccurs="0" name="chunkIndex" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUpdateChunkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProjectAndWorkByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q9="http://jobctrl.com/" minOccurs="0" name="assignCompositeData" nillable="true" type="q9:AssignCompositeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProjectAndWorkByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignProjectAndWorkByKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParallelWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="parallelWorkItem" nillable="true" type="q10:ParallelWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddParallelWorkItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="workItem" nillable="true" type="q11:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemExResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetClientMenuResult" nillable="true" type="q12:ClientMenu" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="newMenu" nillable="true" type="q13:ClientMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClientMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetClientSettingsResult" nillable="true" type="q14:ClientSetting" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="AuthenticateResult" nillable="true" type="q15:AuthData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthTicketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://jobctrl.com/" minOccurs="0" name="GetClientRulesResult" nillable="true" type="q16:ArrayOfWorkDetectorRule" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q17="http://jobctrl.com/" minOccurs="0" name="newRules" nillable="true" type="q17:ArrayOfWorkDetectorRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClientRulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCensorRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCensorRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://jobctrl.com/" minOccurs="0" name="GetClientCensorRulesResult" nillable="true" type="q18:ArrayOfCensorRule" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientCensorRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q19="http://jobctrl.com/" minOccurs="0" name="newRules" nillable="true" type="q19:ArrayOfCensorRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientCensorRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetClientCensorRulesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManualWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="manualWorkItem" nillable="true" type="q20:ManualWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManualWorkItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="workId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sendDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sendDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientWorkTimeStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientWorkTimeStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" minOccurs="0" name="GetClientWorkTimeStatsResult" nillable="true" type="q21:ClientWorkTimeStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClientVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="major" type="xs:int" />
        <xs:element minOccurs="0" name="minor" type="xs:int" />
        <xs:element minOccurs="0" name="build" type="xs:int" />
        <xs:element minOccurs="0" name="revision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClientVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingKick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingKickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Kicks" minOccurs="0" name="GetPendingKickResult" nillable="true" type="q22:ClientComputerKick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmKick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="kickId" type="xs:int" />
        <xs:element xmlns:q23="http://jobctrl.com/" minOccurs="0" name="result" type="q23:KickResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmKickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeClientActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeClientActiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q24="http://jobctrl.com/" minOccurs="0" name="assignWorkData" nillable="true" type="q24:AssignWorkData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignWorkByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignWorkByKeyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="clientTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearningRuleGenerators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearningRuleGeneratorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://jobctrl.com/" minOccurs="0" name="GetLearningRuleGeneratorsResult" nillable="true" type="q25:ArrayOfRuleGeneratorData" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCannedCloseReasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCannedCloseReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://jobctrl.com/" minOccurs="0" name="GetCannedCloseReasonsResult" nillable="true" type="q26:CannedCloseReasons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="workId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reasonItemId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://jobctrl.com/" minOccurs="0" name="CloseWorkResult" type="q27:CloseWorkResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="workId" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reasonItemId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReasonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://jobctrl.com/" minOccurs="0" name="GetReasonStatsResult" nillable="true" type="q28:ReasonStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleWorkTimeStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="desiredEndDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleWorkTimeStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" minOccurs="0" name="GetSimpleWorkTimeStatsResult" nillable="true" type="q29:SimpleWorkTimeStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://jobctrl.com/" minOccurs="0" name="GetMeetingDataResult" nillable="true" type="q30:MeetingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetAllWorksResult" nillable="true" type="q31:ArrayOfAllWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>