MobileActivityClient/Service References/ActivityMobileServiceReference/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" />
  <xs:import namespace="http://jobctrl.com/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" />
  <xs:complexType name="ArrayOfKeyValueOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringint">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringint" nillable="true" type="tns:ArrayOfKeyValueOfstringint" />
  <xs:complexType name="ArrayOfKeyValueOfintCategoryDatarAztyu7B">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintCategoryDatarAztyu7B">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" name="Value" nillable="true" type="q1:CategoryData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintCategoryDatarAztyu7B" nillable="true" type="tns:ArrayOfKeyValueOfintCategoryDatarAztyu7B" />
  <xs:complexType name="ArrayOfKeyValueOfstringCompositeMappingAizZ7SMt">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringCompositeMappingAizZ7SMt">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q2="http://jobctrl.com/" name="Value" nillable="true" type="q2:CompositeMapping" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringCompositeMappingAizZ7SMt" nillable="true" type="tns:ArrayOfKeyValueOfstringCompositeMappingAizZ7SMt" />
  <xs:complexType name="ArrayOfKeyValueOfintSimpleWorkTimeStatEUfoD8aB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintSimpleWorkTimeStatEUfoD8aB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" name="Value" nillable="true" type="q3:SimpleWorkTimeStat" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintSimpleWorkTimeStatEUfoD8aB" nillable="true" type="tns:ArrayOfKeyValueOfintSimpleWorkTimeStatEUfoD8aB" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfintBriefWorkStatsEUfoD8aB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintBriefWorkStatsEUfoD8aB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" name="Value" nillable="true" type="q4:BriefWorkStats" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintBriefWorkStatsEUfoD8aB" nillable="true" type="tns:ArrayOfKeyValueOfintBriefWorkStatsEUfoD8aB" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfintDetailedComputerStatsEUfoD8aB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintDetailedComputerStatsEUfoD8aB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" name="Value" nillable="true" type="q5:DetailedComputerStats" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintDetailedComputerStatsEUfoD8aB" nillable="true" type="tns:ArrayOfKeyValueOfintDetailedComputerStatsEUfoD8aB" />
  <xs:complexType name="ArrayOfKeyValueOfintWorkWithIntervalsEUfoD8aB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintWorkWithIntervalsEUfoD8aB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" name="Value" nillable="true" type="q6:WorkWithIntervals" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintWorkWithIntervalsEUfoD8aB" nillable="true" type="tns:ArrayOfKeyValueOfintWorkWithIntervalsEUfoD8aB" />
  <xs:complexType name="ArrayOfKeyValueOflongDetailedMobileStatsEUfoD8aB">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflongDetailedMobileStatsEUfoD8aB">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" name="Value" nillable="true" type="q7:DetailedMobileStats" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflongDetailedMobileStatsEUfoD8aB" nillable="true" type="tns:ArrayOfKeyValueOflongDetailedMobileStatsEUfoD8aB" />
</xs:schema>