MobileActivityClient/Service References/ActivityMobileServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jobctrl.com/" elementFormDefault="qualified" targetNamespace="http://jobctrl.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeMapping">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildrenByKey" nillable="true" type="q1:ArrayOfKeyValueOfstringCompositeMappingAizZ7SMt">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkIdByKey" nillable="true" type="q2:ArrayOfKeyValueOfstringint">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeMapping" nillable="true" type="tns:CompositeMapping" />
  <xs:simpleType name="KickResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="AlreadyOffline" />
      <xs:enumeration value="UnknownError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KickResult" nillable="true" type="tns:KickResult" />
</xs:schema>