ActivityRecorderService/Service References/MobileServiceReference/MobileJobCTRLServer25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.22.1.81:16000/MobileJobCTRLServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" />
  <xs:complexType name="ArrayOfKeyValueOfintSiteMapDatasXw21vH2">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintSiteMapDatasXw21vH2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" name="Value" nillable="true" type="q1:SiteMapData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintSiteMapDatasXw21vH2" nillable="true" type="tns:ArrayOfKeyValueOfintSiteMapDatasXw21vH2" />
  <xs:complexType name="ArrayOfKeyValueOfintZoneGroupMapDatasXw21vH2">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintZoneGroupMapDatasXw21vH2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" name="Value" nillable="true" type="q2:ZoneGroupMapData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintZoneGroupMapDatasXw21vH2" nillable="true" type="tns:ArrayOfKeyValueOfintZoneGroupMapDatasXw21vH2" />
  <xs:complexType name="ArrayOfKeyValueOfintPolygonsXw21vH2">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintPolygonsXw21vH2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" name="Value" nillable="true" type="q3:Polygon" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintPolygonsXw21vH2" nillable="true" type="tns:ArrayOfKeyValueOfintPolygonsXw21vH2" />
  <xs:complexType name="ArrayOfKeyValueOfintZoneMapDatasXw21vH2">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintZoneMapDatasXw21vH2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" name="Value" nillable="true" type="q4:ZoneMapData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintZoneMapDatasXw21vH2" nillable="true" type="tns:ArrayOfKeyValueOfintZoneMapDatasXw21vH2" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfUserMapDatasXw21vH2">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfUserMapDatasXw21vH2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobcontrolMobileServer" name="Value" nillable="true" type="q5:ArrayOfUserMapData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfUserMapDatasXw21vH2" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfUserMapDatasXw21vH2" />
</xs:schema>