VoxCTRL/Service References/ActivityRecorderServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://jobctrl.com/Authentication" />
  <xs:element name="GetClientLoginTicket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientLoginTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://jobctrl.com/Authentication" minOccurs="0" name="GetClientLoginTicketResult" nillable="true" type="q1:ClientLoginTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>