VoxCTRL/Service References/ActivityRecorderServiceReference/Tct.ActivityRecorderService.IVoiceRecorder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Tct.ActivityRecorderService.IVoiceRecorder" elementFormDefault="qualified" targetNamespace="Tct.ActivityRecorderService.IVoiceRecorder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Voice" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:AuthData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertVoiceRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Voice" minOccurs="0" name="voiceRecording" nillable="true" type="q2:VoiceRecording" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertVoiceRecordingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoiceRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Voice" minOccurs="0" name="voiceRecording" nillable="true" type="q3:VoiceRecording" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoiceRecordingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetApplicationUpdateResult" nillable="true" type="q4:ApplicationUpdateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="fileId" type="q5:guid" />
        <xs:element minOccurs="0" name="chunkIndex" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUpdateChunkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" minOccurs="0" name="GetClientSettingsResult" nillable="true" type="q6:ClientSetting" />
        <xs:element minOccurs="0" name="newVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClientVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="computerId" type="xs:int" />
        <xs:element minOccurs="0" name="major" type="xs:int" />
        <xs:element minOccurs="0" name="minor" type="xs:int" />
        <xs:element minOccurs="0" name="build" type="xs:int" />
        <xs:element minOccurs="0" name="revision" type="xs:int" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportClientVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>