ActivityRecorderClient/Service References/OutlookMeetingCaptureServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jobctrl.com/" elementFormDefault="qualified" targetNamespace="http://jobctrl.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFinishedMeetingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinishedMeetingEntry" nillable="true" type="tns:FinishedMeetingEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinishedMeetingEntry" nillable="true" type="tns:ArrayOfFinishedMeetingEntry" />
  <xs:complexType name="FinishedMeetingEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attendees" nillable="true" type="tns:ArrayOfMeetingAttendee" />
      <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastmodificationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldStartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:MeetingCrudStatus" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsInFuture" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinishedMeetingEntry" nillable="true" type="tns:FinishedMeetingEntry" />
  <xs:complexType name="ArrayOfMeetingAttendee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeetingAttendee" nillable="true" type="tns:MeetingAttendee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetingAttendee" nillable="true" type="tns:ArrayOfMeetingAttendee" />
  <xs:complexType name="MeetingAttendee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseStatus" type="tns:MeetingAttendeeResponseStatus" />
      <xs:element minOccurs="0" name="Type" type="tns:MeetingAttendeeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetingAttendee" nillable="true" type="tns:MeetingAttendee" />
  <xs:simpleType name="MeetingAttendeeResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ResponseNone" />
      <xs:enumeration value="ResponseOrganized" />
      <xs:enumeration value="ResponseTentative" />
      <xs:enumeration value="ResponseAccepted" />
      <xs:enumeration value="ResponseDeclined" />
      <xs:enumeration value="ResponseNotResponded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeetingAttendeeResponseStatus" nillable="true" type="tns:MeetingAttendeeResponseStatus" />
  <xs:simpleType name="MeetingAttendeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Organizer" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="Optional" />
      <xs:enumeration value="Resource" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeetingAttendeeType" nillable="true" type="tns:MeetingAttendeeType" />
</xs:schema>