ActivityRecorderClient/Service References/OutlookMeetingCaptureServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://jobctrl.com/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetVersionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="calendarAccountEmails" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="manualWorkItemEditAgeLimit" type="xs:int" />
        <xs:element minOccurs="0" name="needNonMeetingAppointments" type="xs:boolean" />
        <xs:element minOccurs="0" name="needUpdatesDeletes" type="xs:boolean" />
        <xs:element minOccurs="0" name="folderInclusionPattern" type="xs:string" />
        <xs:element minOccurs="0" name="folderExclusionPattern" type="xs:string" />
        <xs:element minOccurs="0" name="needTentativeMeetings" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://jobctrl.com/" minOccurs="0" name="CaptureMeetingsResult" nillable="true" type="q2:ArrayOfFinishedMeetingEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplaySelectNamesDialog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="parentWindowHandle" type="q3:IntPtr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplaySelectNamesDialogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://jobctrl.com/" minOccurs="0" name="DisplaySelectNamesDialogResult" nillable="true" type="q4:ArrayOfMeetingAttendee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>