ActivityRecorderClient/Service References/OutlookMeetingCaptureServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutlookMeetingCaptureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IMeetingCaptureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://jobctrl.com/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeetingCaptureService_GetVersionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionInfo" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_GetVersionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_CaptureMeetings_InputMessage">
    <wsdl:part name="parameters" element="tns:CaptureMeetings" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_CaptureMeetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaptureMeetingsResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_DisplaySelectNamesDialog_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplaySelectNamesDialog" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_DisplaySelectNamesDialog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplaySelectNamesDialogResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_StopService_InputMessage">
    <wsdl:part name="parameters" element="tns:StopService" />
  </wsdl:message>
  <wsdl:message name="IMeetingCaptureService_StopService_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeetingCaptureService">
    <wsdl:operation name="GetVersionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingCaptureService/GetVersionInfo" message="tns:IMeetingCaptureService_GetVersionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingCaptureService/GetVersionInfoResponse" message="tns:IMeetingCaptureService_GetVersionInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CaptureMeetings">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingCaptureService/CaptureMeetings" message="tns:IMeetingCaptureService_CaptureMeetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingCaptureService/CaptureMeetingsResponse" message="tns:IMeetingCaptureService_CaptureMeetings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplaySelectNamesDialog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingCaptureService/DisplaySelectNamesDialog" message="tns:IMeetingCaptureService_DisplaySelectNamesDialog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingCaptureService/DisplaySelectNamesDialogResponse" message="tns:IMeetingCaptureService_DisplaySelectNamesDialog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopService">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingCaptureService/StopService" message="tns:IMeetingCaptureService_StopService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingCaptureService/StopServiceResponse" message="tns:IMeetingCaptureService_StopService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IMeetingCaptureService" type="tns:IMeetingCaptureService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IMeetingCaptureService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetVersionInfo">
      <soap12:operation soapAction="http://tempuri.org/IMeetingCaptureService/GetVersionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptureMeetings">
      <soap12:operation soapAction="http://tempuri.org/IMeetingCaptureService/CaptureMeetings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplaySelectNamesDialog">
      <soap12:operation soapAction="http://tempuri.org/IMeetingCaptureService/DisplaySelectNamesDialog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopService">
      <soap12:operation soapAction="http://tempuri.org/IMeetingCaptureService/StopService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutlookMeetingCaptureService">
    <wsdl:port name="NetNamedPipeBinding_IMeetingCaptureService" binding="tns:NetNamedPipeBinding_IMeetingCaptureService">
      <soap12:address location="net.pipe://localhost/OutlookMeetingCaptureService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/OutlookMeetingCaptureService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>