ActivityRecorderClient/Service References/JavaCaptureServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JavaCaptureService/mex?xsd=xsd2" namespace="http://jobctrl.com/java" />
  <xs:import schemaLocation="http://localhost:8000/JavaCaptureService/mex?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="Capture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://jobctrl.com/java" minOccurs="0" name="captureSettings" nillable="true" type="q1:JavaCaptureSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="CaptureResult" type="q2:KeyValuePairOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>