ActivityRecorderClient/Service References/ActivityRecorderServiceReference/Authentication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jobctrl.com/Authentication" elementFormDefault="qualified" targetNamespace="http://jobctrl.com/Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientLoginTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientLoginTicket" nillable="true" type="tns:ClientLoginTicket" />
</xs:schema>