ActivityRecorderClient/Service References/ActivityRecorderServiceReference/clientApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jobctrl.com/clientApi" elementFormDefault="qualified" targetNamespace="http://jobctrl.com/clientApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TargetUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Target" type="tns:MessageTarget" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastUpdatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="PCLastSentAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="MobileLastSentAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="PCLastReadAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="MobileLastReadAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeletedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpiryInHours" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MessageTarget">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="PC" />
          <xs:enumeration value="Mobile" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="DisplayedReports">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LayoutXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReportImages" type="tns:ArrayOfDisplayedReportImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfDisplayedReportImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayedReportImage" nillable="true" type="tns:DisplayedReportImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisplayedReportImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReportImage" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FavoriteReport">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Icon" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="WorktimeStatIntervals">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Today" />
          <xs:enumeration value="Week" />
          <xs:enumeration value="Month" />
          <xs:enumeration value="Quarter" />
          <xs:enumeration value="Year" />
          <xs:enumeration value="Default" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="WorkTimeStats">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TodaysWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisWeeksWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisMonthsWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="TodaysTargetNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisWeeksTargetNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisMonthsTargetNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisWeeksTargetUntilTodayNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisMonthsTargetUntilTodayNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="LastComputerWorkitemEndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="EndOfTodayInUtc" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisQuarterWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisYearWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisQuarterTargetNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisYearTargetNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisQuarterTargetUntilTodayNetWorkTimeInMs" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ThisYearTargetUntilTodayNetWorkTimeInMs" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientTab">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TabId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocalizedTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>