ActivityRecorderClient/Service References/ActivityRecorderServiceReference/Tct.ActivityRecorderService.IActivityMonitoring1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Tct.ActivityRecorderService.IActivityMonitoring" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Tct.ActivityRecorderService.IActivityMonitoring" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Tct.ActivityRecorderService.IActivityMonitoring/Imports">
      <xsd:import namespace="Tct.ActivityRecorderService.IActivityMonitoring" />
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://jobctrl.com/Notifications" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" />
      <xsd:import namespace="http://jobctrl.com/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.ClientComputerData" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Kicks" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.WorkManagement" />
      <xsd:import namespace="http://jobctrl.com/WorkManagement" />
      <xsd:import namespace="http://jobctrl.com/WorkTimeHistory" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Telemetry" />
      <xsd:import namespace="Tct.ActivityRecorderService.IActivityMobile" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityMonitoring_GetBriefUserStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefUserStats" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetBriefUserStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefUserStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetDetailedUserStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedUserStats" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetDetailedUserStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedUserStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickUserComputer" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickUserComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_KickTimeoutExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://jobctrl.com/" name="detail" element="q1:KickTimeoutException" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetSimpleWorkTimeStatsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleWorkTimeStatsById" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetSimpleWorkTimeStatsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleWorkTimeStatsByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivityMonitoring">
    <wsdl:operation name="GetBriefUserStats">
      <wsdl:input wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetBriefUserStats" message="tns:IActivityMonitoring_GetBriefUserStats_InputMessage" />
      <wsdl:output wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetBriefUserStatsResponse" message="tns:IActivityMonitoring_GetBriefUserStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedUserStats">
      <wsdl:input wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetDetailedUserStats" message="tns:IActivityMonitoring_GetDetailedUserStats_InputMessage" />
      <wsdl:output wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetDetailedUserStatsResponse" message="tns:IActivityMonitoring_GetDetailedUserStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickUserComputer">
      <wsdl:input wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/KickUserComputer" message="tns:IActivityMonitoring_KickUserComputer_InputMessage" />
      <wsdl:output wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/KickUserComputerResponse" message="tns:IActivityMonitoring_KickUserComputer_OutputMessage" />
      <wsdl:fault wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/KickUserComputerKickTimeoutExceptionFault" name="KickTimeoutExceptionFault" message="tns:IActivityMonitoring_KickUserComputer_KickTimeoutExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleWorkTimeStatsById">
      <wsdl:input wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetSimpleWorkTimeStatsById" message="tns:IActivityMonitoring_GetSimpleWorkTimeStatsById_InputMessage" />
      <wsdl:output wsaw:Action="Tct.ActivityRecorderService.IActivityMonitoring/IActivityMonitoring/GetSimpleWorkTimeStatsByIdResponse" message="tns:IActivityMonitoring_GetSimpleWorkTimeStatsById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>