ActivityRecorderClient/Service References/AppControlServiceReference/AppControlServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppControlServiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IAppControlServiceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/AppControlServiceService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/AppControlServiceService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppControlServiceService_RegisterProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProcess" />
  </wsdl:message>
  <wsdl:message name="IAppControlServiceService_RegisterProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IAppControlServiceService_UnregisterProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterProcess" />
  </wsdl:message>
  <wsdl:message name="IAppControlServiceService_UnregisterProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppControlServiceService">
    <wsdl:operation name="RegisterProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppControlServiceService/RegisterProcess" message="tns:IAppControlServiceService_RegisterProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppControlServiceService/RegisterProcessResponse" message="tns:IAppControlServiceService_RegisterProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppControlServiceService/UnregisterProcess" message="tns:IAppControlServiceService_UnregisterProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppControlServiceService/UnregisterProcessResponse" message="tns:IAppControlServiceService_UnregisterProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IAppControlServiceService" type="tns:IAppControlServiceService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IAppControlServiceService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="RegisterProcess">
      <soap12:operation soapAction="http://tempuri.org/IAppControlServiceService/RegisterProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterProcess">
      <soap12:operation soapAction="http://tempuri.org/IAppControlServiceService/UnregisterProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppControlServiceService">
    <wsdl:port name="NetNamedPipeBinding_IAppControlServiceService" binding="tns:NetNamedPipeBinding_IAppControlServiceService">
      <soap12:address location="net.pipe://localhost/AppControlServiceService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/AppControlServiceService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/RADOA-NB.tct.local</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>