ActivityRecorderClient/Service References/OutlookMailCaptureServiceReference/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/OutlookMailCaptureService/mex?xsd=xsd2" namespace="http://jobctrl.com/mail" />
  <xs:import schemaLocation="http://localhost:8000/OutlookMailCaptureService/mex?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderClient.Capturing.Mail" />
  <xs:element name="GetMailCaptures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailCapturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://jobctrl.com/mail" minOccurs="0" name="GetMailCapturesResult" nillable="true" type="q1:MailCaptures" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMailTracking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderClient.Capturing.Mail" minOccurs="0" name="trackingType" type="q2:MailTrackingType" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderClient.Capturing.Mail" minOccurs="0" name="trackingSettings" type="q3:MailTrackingSettings" />
        <xs:element minOccurs="0" name="isSafeMailItemCommitUsable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMailTrackingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>