ActivityStatsTester/Service References/ActivityStatsServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDailyStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" minOccurs="0" name="GetDailyStatsResult" nillable="true" type="q1:DailyStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" minOccurs="0" name="GetDailyStatsByUserIdResult" nillable="true" type="q2:DailyStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByUserIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByUserIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" minOccurs="0" name="GetDailyStatsByUserIdsResult" nillable="true" type="q4:DailyStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" minOccurs="0" name="GetDailyStatsByGroupIdResult" nillable="true" type="q5:DailyStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatsByCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.Stats" minOccurs="0" name="GetDailyStatsByCompanyIdResult" nillable="true" type="q6:DailyStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDailyEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDailyEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWeeklyEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWeeklyEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMonthlyEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMonthlyEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProjectEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utcStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="utcEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="reportUserId" type="xs:int" />
        <xs:element minOccurs="0" name="isInternal" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectRootIds" nillable="true" type="q10:ArrayOfint" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toAddresses" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProjectEmailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>