MonitoringClient/Service References/ActivityMonitoringServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityRecorderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IActivityMonitoring_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService.OnlineStats" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Tct.ActivityRecorderService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
      <xsd:import namespace="http://jobctrl.com/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityMonitoring_GetBriefUserStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefUserStats" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetBriefUserStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBriefUserStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetDetailedUserStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedUserStats" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_GetDetailedUserStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailedUserStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_InputMessage">
    <wsdl:part name="parameters" element="tns:KickUserComputer" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickUserComputerResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityMonitoring_KickUserComputer_KickTimeoutExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://jobctrl.com/" name="detail" element="q1:KickTimeoutException" />
  </wsdl:message>
  <wsdl:portType name="IActivityMonitoring">
    <wsdl:operation name="GetBriefUserStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityMonitoring/GetBriefUserStats" message="tns:IActivityMonitoring_GetBriefUserStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityMonitoring/GetBriefUserStatsResponse" message="tns:IActivityMonitoring_GetBriefUserStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailedUserStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityMonitoring/GetDetailedUserStats" message="tns:IActivityMonitoring_GetDetailedUserStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityMonitoring/GetDetailedUserStatsResponse" message="tns:IActivityMonitoring_GetDetailedUserStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KickUserComputer">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityMonitoring/KickUserComputer" message="tns:IActivityMonitoring_KickUserComputer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityMonitoring/KickUserComputerResponse" message="tns:IActivityMonitoring_KickUserComputer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IActivityMonitoring/KickUserComputerKickTimeoutExceptionFault" name="KickTimeoutExceptionFault" message="tns:IActivityMonitoring_KickUserComputer_KickTimeoutExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IActivityMonitoring" type="tns:IActivityMonitoring">
    <wsp:PolicyReference URI="#CustomBinding_IActivityMonitoring_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBriefUserStats">
      <soap12:operation soapAction="http://tempuri.org/IActivityMonitoring/GetBriefUserStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedUserStats">
      <soap12:operation soapAction="http://tempuri.org/IActivityMonitoring/GetDetailedUserStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KickUserComputer">
      <soap12:operation soapAction="http://tempuri.org/IActivityMonitoring/KickUserComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KickTimeoutExceptionFault">
        <soap12:fault use="literal" name="KickTimeoutExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityRecorderService">
    <wsdl:port name="CustomBinding_IActivityMonitoring" binding="tns:CustomBinding_IActivityMonitoring">
      <soap12:address location="https://localhost:9001/ActivityMonitoringService" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:9001/ActivityMonitoringService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>