ActivityRecorderClient/Service References/VoiceRecorderControllerServiceReference/VoiceRecorderControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VoiceRecorderControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IVoiceRecorderControllerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/VoiceRecorderControllerService/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/VoiceRecorderControllerService/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVoiceRecorderControllerService_Record_InputMessage">
    <wsdl:part name="parameters" element="tns:Record" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Record_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordResponse" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Pause_InputMessage">
    <wsdl:part name="parameters" element="tns:Pause" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Pause_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseResponse" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Resume_InputMessage">
    <wsdl:part name="parameters" element="tns:Resume" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Resume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumeResponse" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_StopAndDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:StopAndDelete" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_StopAndDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopAndDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_ChangeName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeName" />
  </wsdl:message>
  <wsdl:message name="IVoiceRecorderControllerService_ChangeName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IVoiceRecorderControllerService">
    <wsdl:operation name="Record">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/Record" message="tns:IVoiceRecorderControllerService_Record_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/RecordResponse" message="tns:IVoiceRecorderControllerService_Record_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/Pause" message="tns:IVoiceRecorderControllerService_Pause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/PauseResponse" message="tns:IVoiceRecorderControllerService_Pause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resume">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/Resume" message="tns:IVoiceRecorderControllerService_Resume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/ResumeResponse" message="tns:IVoiceRecorderControllerService_Resume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/Stop" message="tns:IVoiceRecorderControllerService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/StopResponse" message="tns:IVoiceRecorderControllerService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopAndDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/StopAndDelete" message="tns:IVoiceRecorderControllerService_StopAndDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/StopAndDeleteResponse" message="tns:IVoiceRecorderControllerService_StopAndDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeName">
      <wsdl:input wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/ChangeName" message="tns:IVoiceRecorderControllerService_ChangeName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVoiceRecorderControllerService/ChangeNameResponse" message="tns:IVoiceRecorderControllerService_ChangeName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IVoiceRecorderControllerService" type="tns:IVoiceRecorderControllerService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IVoiceRecorderControllerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Record">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/Record" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/Pause" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resume">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/Resume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAndDelete">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/StopAndDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeName">
      <soap12:operation soapAction="http://tempuri.org/IVoiceRecorderControllerService/ChangeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VoiceRecorderControllerService">
    <wsdl:port name="NetNamedPipeBinding_IVoiceRecorderControllerService" binding="tns:NetNamedPipeBinding_IVoiceRecorderControllerService">
      <soap12:address location="net.pipe://localhost/VoiceRecorderControllerService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/VoiceRecorderControllerService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>