ProxyDataRouter/Connected Services/ProxyServiceReference/item12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://jobctrl.com/Notifications" elementFormDefault="qualified" targetNamespace="http://jobctrl.com/Notifications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ProxyService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="NotificationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Form" nillable="true" type="tns:JcForm" />
      <xs:element minOccurs="0" name="FormId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationData" nillable="true" type="tns:NotificationData" />
  <xs:complexType name="JcForm">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BeforeShowActions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CloseButtonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageBox" nillable="true" type="tns:JcMessageBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JcForm" nillable="true" type="tns:JcForm" />
  <xs:complexType name="JcMessageBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buttons" nillable="true" type="tns:ArrayOfJcButton" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JcMessageBox" nillable="true" type="tns:JcMessageBox" />
  <xs:complexType name="ArrayOfJcButton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JcButton" nillable="true" type="tns:JcButton" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJcButton" nillable="true" type="tns:ArrayOfJcButton" />
  <xs:complexType name="JcButton">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JcButton" nillable="true" type="tns:JcButton" />
  <xs:complexType name="NotificationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationResult" nillable="true" type="tns:NotificationResult" />
</xs:schema>